body {
  @extend %light;
  @extend %font-family;
  @include font(15px, 0);
  background-color: $body-background-color;
  color: $grey;
  position: relative;
}

%font-family {
  font-family: $brand-font-family;
}

// FONT WEIGHT
%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%medium {
  font-weight: 500;
}

// HEADERS
%h1 {
  @include font(48px, 1px);
}

%h2 {
  @include font(36px, -1px);
}

%h3 {
  @include font(24px, 0);
}

// GENERAL
%small {
  @extend %medium;
  @include font(18px, 0);
}

%lede {
  @extend %light;
  @include font(24px, -.2px, 31px);
}


%body {
  @extend %light;
  @include font(15px, -.2px, 0);
}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @extend %medium;
}

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

.small,
small {
  @extend %small;
}

.body {
  @extend %body;
}

.lede {
  @extend %lede;
}

.font {

  &-white {
    color: $white;
  }

  &-brand {
    color: $grey;
  }

  &-lighter-grey {
    color: $lighter-grey;
  }

  &-lig {
    @extend %light;
  }

  &-reg {
    @extend %regular;
  }

  &-med {
    @extend %medium;
  }
}


a {

  @include prefix((tap-highlight-color: $tap-highlight-color), webkit);

  &:focus {
    background-color: transparent;
    outline: 3px solid $aqua;
  }
}


.link {
  @extend %regular;
  border-bottom: 1px solid;
  text-decoration: none;

  &:hover {
    border-bottom: 1px dashed;
    color: $aqua;
  }

  &--white {
    color: $white;

    &:visited {
      color: $lighter-grey;
    }

    &:hover {
      color: $turquoise;
    }
  }
}

code {
  color: $flag-red;
}
